main {
    min-height: calc(100vh - 80px);
    background-color: $bg-color;

    .intro {
        width: 40%;
        margin: 0 auto;

        .entry {
            display: flex;
            flex-direction: column;

            &__h1 {
                font-size: 36px;
                color: #fff;
                text-align: center;
                margin-top: 10%;
            }

            &__h2 {
                font-size: 24px;
                color: #fff;
                padding: 20px 0 8px;
                text-align: center;
            }

            &__title {
                display: flex;
                justify-content: center;
                i {
                    font-size: 20px;
                    color: #4177DC;
                    padding-right: 10px;
                }

                &--h3 {
                    font-weight: 400;
                    font-size: 16px;
                    color: #BABEC4;
                }
            }
        }
    }
}