main {
    min-height: calc(100vh - 80px);
    background-color: $bg-color;

    .intro {
        // width: 40%;
        margin: 0 auto;

        .entry {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0 auto;

            &__h1 {
                font-size: 36px;
                color: #fff;
                text-align: center;
                margin-top: 10%;
            }

            &__h2 {
                font-size: 24px;
                color: #fff;
                padding: 20px 0 8px;
                text-align: center;
            }

            &__title {
                display: flex;
                justify-content: center;

                i {
                    font-size: 20px;
                    color: #4177DC;
                    padding-right: 10px;
                }

                &--h3 {
                    font-weight: 400;
                    font-size: 16px;
                    color: #BABEC4;
                }
            }

            &__img {
                display: flex;
                justify-content: center;
                padding: 48px 0 40px;
            }

            &__info {
                color: #fff;
                display: flex;
                width: 410px;
                margin: 0 auto;
                justify-content: space-between;
                text-align: center;

                &--degree {
                    i {
                        padding-bottom: 16px;
                    }
                }

                &--distance {
                    i {
                        padding-top: 16px;
                    }
                }

                &--battery {
                    i {
                        padding-top: 16px;
                    }
                }
            }
        }
    }
}